.hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  
  .navbar {
    align-items: center;
  }
  
  .hamburger {
    display: contents;
    /* justify-content: center;
    align-items: center; */
  }

  .hamburger i {
    justify-content: center;
    align-items: center;
  }

  .nav-center {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .slideshow-container {
    display: none;
  }

  .dot {
    display: none;
  }


  /* About Us */
  .about-us {
    width: 100%;
    display: flex;
  }

  .container-us {
    width: 100%;
  }

  .container-us h1 {
    font-size: 20px;
  }
  /* End */

  /* Our Menu */
  .our-menu {
    /* width: 65%; */
    text-align: center;
  }

  .container-menu {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .menu-text {
    width: 100%;
    text-align: center;
  }

  .menu-text h1 {
    font-size: 20px;
    font-weight: bolder;
  }

  .menu-img {
    width: 70%;
    align-items: center;
  }

  /* .menu-img img {
    padding: 0;
    width: 100%;
  } */
  /* End */

  .container-loc {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .location-text {
    width: 100%;
  }

  .location-text h2 {
    text-align: center;
  }

  .location-text h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }

  .location-text p {
    text-align: center;
  }

  .personal-data {
    text-align: center;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
  padding: 4px 2px;
  margin: 8px 0;
  }

}