* {
  margin: 0;
  padding: 0;
}

.carousel-inner {
  height: 100vh;
}

.container-fluid a {
  color: white;
}

#nav-logo {
  width: 7rem;
}

.nav-center ul {
  margin-bottom: 0;
}

.nav-center ul li {
  display: inline-block;
  align-items: center;
  padding: 1rem;
}

.nav-right a {
  text-decoration: none;
  padding-right: 1rem;
  font-weight: bold;
  /* color: black; */
  padding-left: 5px;
}

/* .container-fluid img {
  width: 7rem;

} */

/* .nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-logo {
  width: 7rem;
}

.nav-center ul {
  margin-bottom: 0;
}

.nav-center ul li {
  align-items: center;
  display: inline-block;
  padding: 1rem;
}

.nav-center li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-right a {
  text-decoration: none;
  padding-right: 1rem;
  font-weight: bold;
  color: black;
  padding-left: 5px;
} */